<nav class="nav">
  <div class="container nav-container">
    <a href="/" class="nav-logo">
      <span class="nav-name">Anthony Guzzardo</span>
    </a>

    <div class="nav-center">
      <a href="/rangley">Rangley</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>

    <div class="nav-right">
      <a href="https://github.com/anthonyguzzardo" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/anthony-guzzardo" target="_blank">LinkedIn</a>
    </div>
  </div>
</nav>
